@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(177, 225, 255);
}

.container {
  align-items: center;
}

h1,
p {
  text-align: center;
  margin-top: 70px;
}

#containerInputs {
  margin: 50px;
}

.itens {
  margin: 15px auto;
  font-weight: bol;
}

input {
  border-radius: 5px;
  padding: 8px 15px;
}

label {
  font-weight: bold;
}

input[type='button'] {
  font-weight: bold;
  background-color: darkgreen;
  border: solid lightgreen 2px;
  color: white;
}

input[type='reset'] {
  font-weight: bold;
  background-color: red;
  border: solid rgb(247, 126, 126) 2px;
  color: white;
}

input[type='checkbox']:checked + label {
  text-decoration: line-through;
}
